/* *********************************************************************
 * * * * *  default html selectors
 */
html {
	color: black;
	background-color: white;
}
body {
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 1em;
}

fieldset.fieldset-width1 {
	width: 225px;
}
fieldset.fieldset-width2 {
	width: 500px;
}

label.align {
	width: 300px;/* Or however much space you need for the form labels*/
	float: left;
}
td {
	width: 150px;
	border-style:solid;
	border-width:1px;
	padding:5px;
}

